/**
 * @notes: the following font variants are available from typekit:
 *
 * FONT | FONT WEIGHT | FONT STYLE
 *
 * Exocet Light  | 300 normal
 * Exocet Medium | 500 normal
 * Exocet Heavy  | 900 normal
 *
 * Code Saver Regular | 400 | normal
 * Code Saver Italic  | 400 | italic
 * Code Saver Medium  | 500 | normal
 * Code Saver Bold    | 700 | normal
 */

:root {
  --fontPrimary: code-saver, sans-serif;
  --fontSecondary: exocet, sans-serif;

  /* font-weight */
  --lightWeight: 300;
  --regularWeight: 400;
  --mediumWeight: 500;
  --semiboldWeight: 600;
  --boldWeight: 700;
  --heavyWeight: 900;

  /* body font-size */
  --fontSize10: 1rem;
  --fontSize12: 1.2rem;
  --fontSize14: 1.4rem;
  --fontSize16: 1.6rem;
  --fontSize18: 1.8rem;
  --fontSize20: 2rem;
  --fontSize22: 2.2rem;
  --fontSize24: 2.4rem;
  --fontSize26: 2.6rem;
  --fontSize28: 2.8rem;
  --fontSize30: 3rem;

  /* heading font-size */
  --fontSize32: 3.2rem;
  --fontSize42: 4.2rem;
  --fontSize50: 5rem;
  --fontSize60: 6rem;
  --fontSize72: 7.2rem;
  --fontSize90: 9rem;
}
