.page {
  --border: 0.1rem solid var(--colorBlack);
  --sceneBorder: 1rem;
  --spellHistoryOffset: -3.5rem;
  position: relative;
  display: block;
  padding: 7rem 4.5rem;
  width: 100%;
  height: 100%;
  background-image: url("/static/img/general/gridPattern.svg");
  background-size: 3rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    content: "";
    opacity: 0.5;
  }

  @media (--medium-up) {
    --spellHistoryOffset: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.background {
  display: block;
  width: 100%;
  border: var(--border);
  border-bottom: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: 11.5rem;
  padding: var(--gutter6);
  background-color: var(--colorGrey800);
  border: 0.1rem solid var(--colorBlack);
  box-shadow: 0 0.2rem 0 0 var(--colorBlack);
  border-radius: 0.6rem;
  transform: translate(-50%, -50%);
}

.loaderImg {
  display: block;
  width: 100%;
  max-width: 8.8rem;
  margin: auto;
}

.loadingProgress {
  position: relative;
  margin-top: 1rem;
  height: 1rem;
  border: 0.1rem solid var(--colorBlack);
  background-color: var(--colorGrey900);
}

.progressBar {
  width: 0;
  height: 100%;
  background-color: var(--colorYellow200);
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: block;
  padding: var(--sceneBorder);
  max-width: 108rem;
  background-color: var(--colorWhite);
  border: var(--border);
  transform: translate(-50%, -50%);
  box-shadow: 0 0.3rem 0 0 var(--colorBlack);
}

.wrapper.hidden {
  visibility: hidden;
}

.scene {
  position: absolute;
  top: var(--sceneBorder);
  left: var(--sceneBorder);
  width: calc(100% - (var(--sceneBorder) * 2));
  height: calc(100% - (var(--sceneBorder) * 2));
  overflow: hidden;
}

.scene.loading {
  visibility: hidden;
}

.wizard {
  --offset: -1.4%;
  position: absolute;
  bottom: 21%;
  z-index: 3;
  width: 41%;
}

.homeWizard {
  left: var(--offset);
}

.awayWizard {
  right: var(--offset);
  transform: scaleX(-1);
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* retina screen fix */
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.fx {
  --fxOffset: -6.5%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 115%;
  visibility: hidden;
}

canvas {
  display: block;
}

.homeFx {
  left: var(--fxOffset);
}

.awayFx {
  right: var(--fxOffset);
  transform: scaleX(-1);
}

.spell {
  z-index: 4;
}

.spellFx {
  left: -7.5%;
  z-index: 5;
}

.winSpell {
  z-index: 6;
}

.loseSpell {
  z-index: 5;
}

.button {
  position: absolute;
  bottom: -10rem;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);

  @media (--medium-up) {
    bottom: 5rem;
  }
}

.visible {
  visibility: visible;
}

.roundSign {
  position: absolute;
  top: -35%;
  left: 50%;
  padding: 0 2rem;
  width: fit-content;
  font-family: var(--fontSecondary);
  font-size: 3rem;
  font-weight: var(--heavyWeight);
  line-height: var(--lineHeightStandard);
  color: var(--colorBlack);
  text-align: center;
  background-color: var(--colorWhite);
  border: 0.1rem solid var(--colorBlack);
  transform: translateX(-50%);
  box-shadow: 0 0.3rem 0 0 var(--colorBlack);

  @media (--medium-up) {
    top: 20%;
    padding: 0 3rem;
  }
}

.skip {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 9;
}

.homeSpellHistory {
  position: absolute;
  top: var(--spellHistoryOffset);
  left: calc(var(--spellHistoryOffset) - 0.5rem);

  @media (--medium-up) {
    left: var(--spellHistoryOffset);
  }
}

.awaySpellHistory {
  position: absolute;
  top: var(--spellHistoryOffset);
  right: calc(var(--spellHistoryOffset) - 0.5rem);

  @media (--medium-up) {
    right: var(--spellHistoryOffset);
  }
}

.nicknameContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -4rem;
  @media (--medium-up) {
    bottom: 5rem;
  }
}

.nickname {
  --nicknameOffset: 5rem;
  padding: 0.5rem;
  max-width: calc(50% - 1rem);
  overflow: hidden;
  font-family: var(--fontSecondary);
  font-size: var(--fontSize12);
  font-weight: var(--heavyWeight);
  line-height: var(--lineHeightStandard);
  color: var(--colorBlack);
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--colorWhite);
  border: 0.1rem solid var(--colorBlack);
  box-shadow: 0 0.3rem 0 0 var(--colorBlack);

  @media (--medium-up) {
    max-width: 16rem;
  }
}

.homeNickname {
  left: 0;

  @media (--medium-up) {
    left: 2.5rem;
  }
}

.awayNickname {
  right: 0;

  @media (--medium-up) {
    right: 2.5rem;
  }
}

.avatar {
  min-width: 3.6rem;
  max-width: 3.6rem;
  height: 3.6rem;
  &::before {
    display: none;
  }
}
