.spellHistory {
  --squareSize: 3.5rem;
  display: flex;
  flex-direction: column;
  width: var(--squareSize);
}

.icon {
  width: 100%;
  height: 100%;
}

.spell {
  margin-bottom: var(--gutter10);
  padding: var(--gutter4);
  width: 100%;
  height: var(--squareSize);
  background-color: var(--colorWhite);
  box-shadow: 0 0.3rem 0 0 var(--colorBlack);
}

.spell.draw {
  background: var(--colorGrey200);
}

.spell.win {
  background: var(--colorYellow);
}

.spell.win.affinity {
  background: var(--colorCosmicPink);
}
